{% extends parent_template|default:"polls/base_polls.html" %}

{% block title %}
Polls Index
{% endblock %}

{% block content %}
	<h1> YOUR ARE SEEING THE POLLS INDEX PAGE. </h1>

	{% for question in question_list %}
		<ul>
			<h3>Poll id: {{ question.id }}</h3>
			<p>{{ question.question_text }}</p>
			<p>Published on {{ question.pub_date }}.</p>
			<button class="detail-button" type="text">
				<a href="{% url 'poll_details' question.id %}">Details</a>
			</button>
		</ul>
	{% endfor %}
{% endblock %}
