{% extends parent_template|default:"polls/base_polls.html" %}

{% block title %}
Polls Index
{% endblock %}

{% block content %}
	<h1> POLLS INDEX PAGE. </h1>

	<ul>
		{% for question in question_list %}
				<h3>Poll id: {{ question.id }}</h3>
				<p>{{ question.question_text }}</p>
				<p>Published on {{ question.pub_date }}.</p>
				<button class="detail-button" type="text">
					<a href="{% url 'polls:details' question.id %}">Details</a>
				</button>
		{% empty %}
			<p>This looks too clean. Wanna create your own question?</p>
			<a href=""><button class="btn btn-sm btn-outline-secondary" type="button">Create</button></a>
		{% endfor %}
	</ul>
{% endblock %}
